  /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        width: 100%;
        height: calc(100vh - 50px);
        /*viewport whole height of the window*/
        top: 0;      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }